

<%= form_for @listing do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <select name="listing[location]" id="photo_location">
    <option selected="selected" disabled="disabled">Choose location</option>
      <option value="North">North</option>
      <option value="NW">NW</option>
      <option value="NE">NE</option>
      <option value="SW">SW</option>
      <option value="SE">SE</option>
  </select>
  <%= f.submit %>
<% end %>
