<h1><%= @listing.title %></h1>
<p>Portland, OR, United States </p>

<div class="well">
  <div class="row">
    <h4>About This Listing</h4>
    <% @listing.photos.each do |photo| %>
      <%= image_tag photo.image.url(:medium) %>
    <% end %>
    <hr>
    <div class="col-md-4">
      Description
    </div>
    <div class="col-md-4">
      <%= @listing.details %>
    </div>
  </div>
  <hr>
  <div class = "row">
    <div class="col-md-4">
      Location
    </div>
    <div class="col-md-4">
      <%= @listing.location %>
    </div>
  </div>
  <hr>
  <div class = "row">
    <div class="col-md-4">
      Price
    </div>
    <div class="col-md-4">
      $<%= @listing.price %> per night
    </div>
  </div>
</div>
    <%= link_to "Contact Host", listings_path, :class => "btn btn-warning"%>
